body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 240, 182);
}

ul  {
    display: flex;

}

li {
    list-style-type: none;
    margin: 15px;
}

i {
    font-size: 3em;
    margin: 10px;
    padding-left: 10px;;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details  { 
    text-align: center;

}
.price {
    color: teal;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 240, 182);
    margin-top: 200px;
    
}
